<html>
<head>

    <title>Selma Björklund</title>

    <!-- Include some JQuery -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <!-- Include the Bootstrap resources -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <!-- Include some Angular resources -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui-ieshiv.min.js"></script>

        <!-- Include some Toastr resources -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.tpls.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.min.css">

        <!-- Include our Angular resource -->

        <script src="js/angular/index.js"></script>
        
        <!-- Include our style sheets -->
        <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body ng-app="selmashemsida" ng-controller="indexController">
    <div class="row header">
        <div class="col-md-6">
            <div class="title">
                <a ng-click="changePage('content/home.html')"><h1>Selma björklund</h1></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-2">
                <a ng-click="changePage('content/about.html')"><h2>about</h2></a>
            </div>
            <div class="col-md-2">
                <h2><a ng-click="changePage('content/portfolio.html')">portfolio</a></h2>
            </div>
            <div class="col-md-2">
            <h2>blog</h2></div>
            <div class="col-md-2">
            <h2>contact</h2></div>
            <div class="col-md-4"></div>
        </div>
    </div>